
{% macro bytesToSize(bytes) %}
{% spaceless %}
    {% set kilobyte = 1024 %}
    {% set megabyte = kilobyte * 1024 %}
    {% set gigabyte = megabyte * 1024 %}
    {% set terabyte = gigabyte * 1024 %}

    {% if bytes < kilobyte %}
        {{ bytes ~ ' B' }}
    {% elseif bytes < megabyte %}
        {{ (bytes / kilobyte)|number_format(2, '.') ~ ' KB' }}
    {% elseif bytes < gigabyte %}
        {{ (bytes / megabyte)|number_format(2, '.') ~ ' MB' }}
    {% elseif bytes < terabyte %}
        {{ (bytes / gigabyte)|number_format(2, '.') ~ ' GB' }}
    {% else %}
        {{ (bytes / terabyte)|number_format(2, '.') ~ ' TB' }}
    {% endif %}
{% endspaceless %}
{% endmacro %}

{% macro yes_or_no(value) %}
{% spaceless %}
    {% if value %}
        <span class="btn btn-success btn-block">YES</span>
    {% else %}
        <span class="btn btn-info btn-block">NO</span>
    {% endif %}
{% endspaceless %}
{% endmacro %}


{% macro repository_url(repositoryName) %}
{% spaceless %}
    <a target="_blank" href="https://{{repositoryName}}">{{repositoryName}}</a>
{% endspaceless %}
{% endmacro %}
