{% extends 'base.html.twig' %}

{% import 'helpers.html.twig' as helpers %}

{% block body %}
<h1>Repositories</h1>

<table class="table table-striped">
<thead>
<tr>
    <th>Name</th>
    <th class="text-center">README</th>
    <th class="text-center">PHP</th>
    <th class="text-center">NodeJS</th>
    <th class="text-center">Java</th>
    <th class="text-right">Size</th>
</tr>
</thead>
<tbody>
{% for name,repository in repositories %}
<tr>
    <td>{{ helpers.repository_url(name) }}</td>
    <td class="text-center">{{ helpers.yes_or_no(repository.readme) }}</td>
    <td class="text-center">{{ helpers.yes_or_no(repository.php_composer) }}</td>
    <td class="text-center">{{ helpers.yes_or_no(repository.npm_package) }}</td>
    <td class="text-center">{{ helpers.yes_or_no(repository.maven) }}</td>
    <td class="text-right">{{ helpers.bytesToSize(repository.size) }}</td>
</tr>
{% endfor %}
</tbody>
</table>



{% endblock %}
